/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
	#DivSvg {
		// background: salmon;
		.fixed-point {
			position: absolute;
			background: blue;
			width: 10px;
			height: 10px;
			display: block;
			z-index: 99999999;
			left: 0;
			top: 0;
		}
	}
	
	.drag-img {
		position: absolute;
		
		&.Car-img {
			width: 70px;
			height: 70px;
		}
		
		&.Person-img {
			width: 50px;
			height: 50px;
		}
		
		&.Road-img {
			width: 150px;
			height: 150px;
		}
		
		&.Sign-img {
			width: 60px;
			height: 60px;
		}
	}
	
	.DivSilderbar {
		position: absolute;
		display: block;
		top: 95vh;
		// left: 0.2%;
		z-index: 99999999;
	}
	
	.btn-group {
		display: block;
		bottom: -40px;
		// left: 1%;
		z-index: 99999999;
		
		> div {
			margin-left: 20px;
		}
	}
	
	.center-point {
		position: absolute;
		background: red;
		width: 10px;
		height: 10px;
		display: block;
		z-index: 99999999;
	}

	.fab {
		cursor: pointer;

		#inbox {
			.show-on-hover {
				position: absolute;

				&:hover > ul.dropdown-menu {
					display: block;
				}
			}

			.btn-io{
				border-radius: 50%;
				height: 54px;
				width: 54px;
				padding: 0 !important;
				box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
			}

			.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
				bottom: auto;
				margin-bottom: 1px;
				margin-bottom: -5px;
				padding-bottom: 30px;
			}

			.dropdown-menu-right {
				right: 0 !Important;
				left: auto !Important;
			}

			.dropdown-menu {
				position: absolute;
				top: 100%;
				min-width: 50px;
				padding: 5px 0;
				margin: 2px 0 0;
				font-size: 14px;
				text-align: center;
				list-style: none;
				background-color: rgba(255, 255, 255, 0) !Important;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				border: none;
				border-radius: 0px;
				-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
				
				.menu-bridge {
					position: absolute;
					width: 200%;
					height: 100%;
					// background: red;
					opacity: 0.3;
					top: 20px;
					z-index: -999999;
				}
				
				.menu-content {
					border-radius: 0px 20px 20px 20px;
					// height: 500px;
					max-height: 500px;
					background: white;
					box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
					position: absolute;
					// margin-top: -40px;
					left: 200%;
					
					.tab-content {
						width: auto;
						height: auto;
						
						.imgstyle {
							width: 150px;
							height: 150px;
							float: left;
							margin: 20px;
							opacity: 0.5;
							background: #DDDDDD;
							
							&:hover {
								opacity: 1.0;
								background: white;
							}
							
							img {
								max-width: 150px;
								max-height: 150px;
							}
						}
					}
				}
				
				> li > a {
					display: block;
					padding: 0;
					padding-top: 4px;
					margin-top: 40px;
					clear: both;
					font-weight: normal;
					line-height: 1.42857143;
					color: #333;
					background: #fff;
					white-space: nowrap;
					width: 40px;
					height: 40px;
					border: solid 1px #ccc;
					border-radius: 50px;
					font-size: 21px;
					box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
				}

				> li:first-child>a {
					background: #0066FF !important;
					color: #fff !important;
					opacity: 0.5;
					position: relative;
					
					&:hover {
						opacity: 1.0;
					}
					
					&.add-bridge:after {
						border-left: solid 70px #0066FF;
						border-top: solid 5px #0066FF;
						border-bottom: solid 5px #0066FF;
						content: "";
						display: block;
						position: absolute;
						left: 90%;
						bottom: 40%;
					}
				}

				> li:nth-child(4)>a {
					background: #FFAA33;
					color: #fff;
					opacity: 0.5;
					position: relative;
					
					&:hover {
						opacity: 1.0;
					}
					
					&.add-bridge:after {
						border-left: solid 70px #FFAA33;
						border-top: solid 5px #FFAA33;
						border-bottom: solid 5px #FFAA33;
						content: "";
						display: block;
						position: absolute;
						left: 90%;
						bottom: 40%;
					}
				}

				> li:nth-child(3)>a {
					background: #000000;
					color: #fff;
					opacity: 0.5;
					position: relative;
					
					&:hover {
						opacity: 1.0;
					}
					
					&.add-bridge:after {
						border-left: solid 70px #000000;
						border-top: solid 5px #000000;
						border-bottom: solid 5px #000000;
						content: "";
						display: block;
						position: absolute;
						left: 90%;
						bottom: 40%;
					}
				}

				> li:nth-child(2)>a {
					background: #2CAC26;
					color: #fff;
					opacity: 0.5;
					position: relative;
					
					&:hover {
						opacity: 1.0;
					}
					
					&.add-bridge:after {
						border-left: solid 70px #2CAC26;
						border-top: solid 5px #2CAC26;
						border-bottom: solid 5px #2CAC26;
						content: "";
						display: block;
						position: absolute;
						left: 90%;
						bottom: 40%;
					}
				}
			}

			.fa-iox{
				font-size: 22px;
			}

		}

		&.active {
			.fab-primary {
				opacity: 0;
					transform: rotate(225deg);
			}

			.fab-secondary {
				opacity: 1;
				transform: rotate(0);
			}
		}

		.fab-primary, .fab-secondary {
			transition: all 0.35s ease-in-out;
		}

		.fab-secondary {
			opacity: 0;
			transform: rotate(-225deg);
		}

	}
		
}