/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

.silder-bar {
	
	.slider-margin-left {
		float: left;
		height: 30px;
		width: 30px;
		opacity: 0;
		// background: rgba(248,150,0,1);
	}
	
	.silder-bar-bg {
		float: left;
		position: relative;
		width: 525px;
		height: 30px;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		padding-right: 12px;
		
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle ;
			height: 100%;
			width: 0;
		}
		
		.silder-bar-lines {
			width: 100%;
			height: 10px;
			display: inline-block;
  			vertical-align: middle;
			@include background-image(linear-gradient(left, rgba(254,220,170,1) 0%,rgba(254,220,170,1) 25%
															, rgba(252,200,150,1) 25%, rgba(252,200,150,1) 50%
															, rgba(252,180,100,1) 50%, rgba(252,180,100,1) 75%
															,rgba(248,150,0,1) 75%, rgba(248,150,0,1) 80%));			
		}
		
		.silder-bar-circles {
			position: absolute;
			@include background-image(radial-gradient(center, ellipse cover, rgba(252,200,150,1) 0%, rgba(248,120,0,1) 50%, rgba(252,180,100,1) 100%));
			width: 25px;
			height: 25px;
			border-radius: 50%;
			bottom: 3px;
			top: initial !important;
		}
	}
	
	
	
	.slider-tips {
		float: left;
		background: rgba(248,150,0,1);
		height: 30px;
		margin-left: 10px;
		text-align: center;
		white-space: nowrap;
		position: relative; // prepare to create ballon
		// display: none;
		opacity: 0;
		padding: 0 5px 0 5px;
		
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle ;
			height: 100%;
			width: 0;
		}
		
		&:after {
			border-right: solid 10px rgba(248,150,0,1);
			border-top: solid 7px transparent;
			border-bottom: solid 7px transparent;
			content: "";
			display: block;
			position: absolute;
			left: -10px;
			bottom: 10px;
		}
	}
}